@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

:root {
    --primary-color: #A40E4C;
    --secondary-color: #2C2C54;
    --accent1-color: #ACC3A6;
    --accent2-color: #F5D6BA;
    --heading-font: 'Tauri', serif;
    --paragraph-font: 'Tauri', serif;
    --nav-background-color: #F5D6BA;
    --nav-link-color: #F49D6E;
    --nav-hover-link-color: #F5D6BA;
    --nav-hover-background-color: #F49D6E;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: auto;
}

h1 {
    font-size: 2rem;
    font-family: Arial, sans-serif;
    padding: 5rem;
}

nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation a {
    font-size: 20px;
    display: block;
    color: navy;
    padding: 10px;
    text-decoration: none;
}

.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

.hero {
    position: relative;
    text-align: center;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
}

.hero article {
    display: none;
}

.hero img[src="images/smile.png"] {
    display: block;
    margin: 10px auto;
    max-width: 50px;
}

.image-grid {
    display: flex;
}

footer {
    background-color: #3c3b3b;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 16px;
    color: #fff;
    margin: 0;
}

.sociallinks a {
    display: inline-block;
    margin: 0 10px;
}

.sociallinks img {
    width: 30px;
    height: auto;
}
