@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }

:root {
  --primary-color: #A40E4C;
  --secondary-color: #2C2C54;
  --accent1-color: #ACC3A6;
  --accent2-color: #F5D6BA;

  --heading-font: 'Tauri', serif;
  --paragraph-font: 'Tauri', serif;

  --nav-background-color: #F5D6BA;
  --nav-link-color: #F49D6E;
  --nav-hover-link-color: #F5D6BA;
  --nav-hover-background-color: #F49D6E;
}

       
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

header {
  margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}


p {
    padding: 25px;
  }


nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}